body {
  max-height: 100vh;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}

.index{
  background: url('../images/558018.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.container {
  margin-top: 10em;
}

/*NAVBAR*/

nav .container-fluid {
  background-color: #DC143C;
}

.navbar-default .navbar-brand {
    font-family: 'Leckerli One', cursive;
    color: #fff;
    font-size: 1.75em;
}

.navbar-default .navbar-brand:hover{
  color: #fff;
}

.icon-bar {
  color: #fff;
}

/*ABOUT */

.about-container {
  width: 60em;
  padding: 1em;
  background: rgba(255,255,255,0.75);

}

.about-background {
  position: relative;
  z-index: 1000;
  -webkit-filter: blur(30px);
  filter: blur(30px);

}

.about {
  position: relative;
  padding: 1em;
  font-size: 1.5em;
}

.about-container button {
  margin-left: 50em;
}

/*MODAL*/

.modal-header, .modal-body, .modal-footer{
  background-color: #DC143C;
  color: #fff;
}
.signup-form {
  width: 75%;
  margin: auto;
}

/*BUTTONS*/

.logout {
  margin-top: .4em;
  margin-right: .6em;
}

  .btn-outline {
    padding: .55em 1.5em;
    font-weight: bold;
    font-size: 1em;
    border-radius: 2px;
    background: none;
    color: #fff;
    line-height: 1;
    border: 2px solid #fff;
  }
  .btn-outline:hover {
    color: #DC143C;
    background-color: #fff;
    border-color: #DC143C;
}

.redbtn {
  color: #DC143C;
    border: 2px solid #DC143C;
}

.redbtn:hover {
  color: #fff;
  background-color: #DC143C;
  border-color: #fff;
}
