body {
  max-height: 100vh;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}

.index{
  background: url('../images/558018.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.container {
  margin-top: 10em;
}

/*NAVBAR*/

nav .container-fluid {
  background-color: #DC143C;
}

.navbar-default .navbar-brand {
    font-family: 'Leckerli One', cursive;
    color: #fff;
    font-size: 2.15em;
}

.navbar-default .navbar-brand:hover{
  color: #fff;
}

.icon-bar {
  color: #fff;
}

/*ABOUT */

.about-container {
  width: 60em;
  padding: 1em;
  background: rgba(255,255,255,0.9);

}

/*.about-background {
  position: relative;
  z-index: 1000;
  -webkit-filter: blur(30px);
  filter: blur(30px);

}*/

.about {
  position: relative;
  padding: 1em;
  font-size: 1.5em;
}

.about-container button {
  margin-left: 50em;
}

/*MODAL*/

.modal {
  display: none;
  width: 35em;
  height: 22em;
  margin: auto;
  margin-top: 10em;
  border-radius: 5px;
  z-index: 200;
  box-shadow: 3px 3px 30px grey;
}

.container-overlay {
  display: none;
  width: 100%;
  height: 105vh;
  z-index: 100;
  background: rgba(0, 0, 0, .6);
  /*-webkit-filter: blur(30px);
  filter: blur(30px);*/
}

.modal-header, .modal-body, .modal-footer{
  background-color: #DC143C;
  color: #fff;
}
.signup-form {
  width: 75%;
  margin: auto;
}

/*PROFILE*/

.profile {
  margin: auto;
  height: inherit;
}
.search-bar {
  height: 100vh;
  overflow: scroll;
  box-shadow: 2px 0 3px lightgrey;
}

.contents {
  margin-top: 6em;
  margin-left: 1em;
}

.contents h4 {
  display: inline-block;
  font-weight: bold;
  color: #DC143C;
}

.contents p {
  margin-bottom: 1.75em;
  font-size: 1.05em;
  color: #3e3d3d;
}

.contents input {
  margin: .3em;
}

.search-results {


}
.recipe-results {
  margin-top: 5em;
}
.jumbotron {
  width: 100%;

  padding: 0;
  height: 25em;
  box-shadow: 3px 0 15px lightgray;
  background: linear-gradient(rgba(105,105,105, 0), rgba(105,105,105, 1));
  overflow: hidden;

}

.jumbotron .container-fluid {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.jumbotron img {
  position: sticky;
  margin-left: -4.5em;
  margin-top: -5.6em;
  width: 115%;
  z-index: 1;
  opacity: .5;
}

.text-contents {
  z-index: 2000;
  position: absolute;
  margin: auto;
  text-align: left;
}

.text-contents a {
  ma
}

li {
  list-style: none;
}


/*BUTTONS*/

.logout {
  margin-top: .6em;
  margin-right: .6em;
}

  .btn-outline {
    padding: .55em 1.5em;
    font-weight: bold;
    font-size: 1em;
    border-radius: 2px;
    background: none;
    color: #fff;
    line-height: 1;
    border: 2px solid #fff;
  }
  .btn-outline:hover {
    color: #DC143C;
    background-color: #fff;
    border-color: #DC143C;
}

.redbtn {
  color: #DC143C;
    border: 2px solid #DC143C;
}

.redbtn:hover {
  color: #fff;
  background-color: #DC143C;
  border-color: #fff;
}

.round {
  border-radius: 100%;
  padding: .55em .3em;
  line-height: 0;
  margin-top: .5em;
  margin-left: .5em;
  font-size: 1.3em;
  display: inline-block;
}
